body{
    background-color: orchid;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";                      
}

#header {
    color: red;
    background-color:thistle;
    grid-area: header:
    padding-top: 50px;
}
h1 {
font-family: 'Orbitron', sans-serif;
}

h2{
font-family: 'Orbitron', sans-serif;
} 
}
#content{
    color:tomato;
    grid-area: content;
    background-color: blanchedalmond;
    padding: 20px;

}

#nagviation > ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0;

}

#navigation {
    background-color: red;
    grid-area: navigation;
    position: sticky;
    top: 0;
}
   
#navigation > ul > li {
    display: inline;
    padding: 10px;
    position: relative;
}

#navigation li:hover{
    background-color: grey;
}
#navigation > ul > li {
    display: inline;
}
#navigation .dropdown {
    left:0;
    display: none;
    position:absolute;
    top:28px;

}
    
#navigation a:hover + .dropdown,
#navigation a + .dropdown:hover{
    display: block;
}
@media (min-width:750px){
    body {
        background-color: aquamarine;
        grid-auto-columns: 15% auto;
        grid-template-rows: min-content auto min-content;
        grid-template-areas: 
        "navigation header"
        "navigation content"
        "navigation footer";
    }

}
.container{
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

#footer {
    background-color: forestgreen;
    color: pink;
    grid-area: footer;
}

img{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 300px;
    width: 80%;
}

#navigation > ul {
    flex-direction: column;
    

}
